ErrorDocument 400 http://localhost/mysample_demo/error
ErrorDocument 401 /error
ErrorDocument 402 http://localhost/mysample_demo/error
ErrorDocument 403 http://localhost/mysample_demo/error
ErrorDocument 404 http://localhost/mysample_demo/error

Options +FollowSymLinks
Options -Indexes
RewriteEngine On
#rewrite conditions
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)$ index.php?p=$1 [L]

RewriteRule ^welcome$ index.php?page=welcome [L]
RewriteRule ^login$ index.php?page=login [L]
RewriteRule ^profile$ index.php?page=profile [L]
